<html lang="en">
  <head>
    <style>
      table {
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td.th {
        border: 1px solid #dddd;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <table>
      <h3>Cafe Management System</h3>
      <tr>
        <th>Name <%= name %></th>
        <th>Email <%= email %></th>
      </tr>
      <tr>
        <th>Contact Number <%= contactNumber %></th>
        <th>Payment Method <%= paymentMethod %></th>
      </tr>
    </table>

    <table>
      <h3>Products Details</h3>

      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Sub Total</th>
      </tr>

      <% if(productDetails.length)>0 { %> <% productDetails.forEach(product =>{
      %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.Category %></td>
        <td><%= product.Quantity %></td>
        <td><%= product.price %></td>
        <td><%= product.total %></td>
      </tr>

      <%});%> <%}%>
    </table>
    <h3>Total <=%totalAmount %></h3>
    <h3>thank you for visiting ! plz visit again</h3>
  </body>
</html>
